@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@100;300;500&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #3d3d3d;
}

.div-2 {
    text-align: center;
    position: absolute;
    left: 0%;
    width: 55%;
    height: 100%;
    color: #fff;
}

.div-2-ct {
    position: relative;
    left: 1%;
}


.logo {
    position: relative;
    right: 10.8%;
    width: 32%;
    margin: 2.8em 0 1em 0;
}

.div-2a {
    position: relative;
    left: 25.5%;
}

.div-2a p {
    text-align: left;
    margin: 0;
    padding: 0;
}

.p1a {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 4.63rem;
    letter-spacing: .8rem;
    color: gold;
}

.p1b, .p1c {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 4.63rem;
    letter-spacing: 1rem;
}

.div-2b {
    text-align: left;
    position: relative;
    left: 25.8%; 
    line-height: 1.8rem;
}

.p1d {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 2.33rem;
    margin: 1.1em 0 0 0;
    color: gold;
}

.p1e {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.03rem;
    width: 55%;
}

.form-control {
    height: 0;
}

.email {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    width: 19em;
    height: 2.5em;
    border-radius: 5em;
    outline: none;
    border: 2px solid gold;
    background-color: transparent;
    color: #fff;
    padding: 0 0 0 15px;
    margin: 5px 0 0 0;

    transition: .20s ease-in-out;
}

.email:focus {
    width: 29em;
}

.fa-check-circle {
    position: relative;
    top: 71px;
    left: 0px;
    font-size: 1.35em;
    color: #2ecc71;
    margin: 0;
    padding: 0;
}

.fa-exclamation-circle {
    position: relative;
    top: 42px;
    left: 0px;
    font-size: 1.35em;
    color: #e74c3c;
    margin: 0;
    padding: 0;
}

.circles {
    position: relative;
    right: 30.5px;
    top: -59.8px;
    width: 0%;
    height: 0%;
    margin: 0;
    padding: 0;
}

.form-control.success i.fa-exclamation-circle {
    visibility: hidden;
}

.form-control.error i.fa-check-circle {
    visibility: hidden;
}

.form-control small {
    visibility: hidden;
    display: none;
}

.form-control.error small {
    color: #fc5340;
    display: block;
    visibility: visible;
    font-family: 'Lato', sans-serif;
    position: relative;
    top: 0;
    left: 17.3px;
}

.form-control.success small {
    visibility: hidden;
}

button {
    font-size: 0;
    position: relative;
    top: 4.6px;
    right: 66px;
    padding: 9.1px 25px;
    border-radius: 20px;
    background-color: #7b5d01;
    background-image: linear-gradient(90deg, #7b5d01 0%, #ffe505 100%);
    filter: drop-shadow(1px 0px 4px gold);
    border: none;
    cursor: pointer;

    transition: .15s ease-in-out;
}

button:hover {
    background-image: linear-gradient(90deg, #b48700 0%, #ffe505 100%);
    filter: drop-shadow(1px 0px 7px gold);
}

.arrow {
    position: relative;
    top: .23em;
    right: 6.8em;
    width: 19px;
    cursor: pointer;
}

.div-1b {
    position: absolute;
    right: 0%;
    width: 45%;
    height: 100%;
}

.img-1 {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-image: url(https://i.ibb.co/tCqZzCJ/5.jpg);
    background-size: 101% 100%;
    background-repeat: no-repeat;
    background-position: 55%;
    
    animation-name: photo-1;
    animation-duration: 10s;
    z-index: 0;
}

  @keyframes photo-1 {
      0% {
          opacity: 1;
      }

      60% {
          opacity: 1;
      }

      100% {
        opacity: 0;
    }
}

.img-2 {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    background-image: url(https://i.ibb.co/ChfrfPw/1.jpg);
    background-size: 101% 100%;
    background-repeat: no-repeat;
    background-position: 55%;

    animation-name: photo-2;
    animation-duration: 16s;
    animation-delay: 5s;
}

  @keyframes photo-2 {
      0% {
          opacity: 1;
      }

      60% {
          opacity: 1;
      }

      100% {
        opacity: 0;
    }
}

.img-3 {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -2;
    background-image: url(https://i.ibb.co/FwZ2Qgr/2.jpg);
    background-size: 101% 100%;
    background-repeat: no-repeat;
    background-position: 55%;

    animation-name: photo-3;
    animation-duration: 19s;
    animation-delay: 14s;
}

  @keyframes photo-3 {
      0% {
          opacity: 1;
      }

      60% {
          opacity: 1;
      }

      100% {
        opacity: 0;
    }
}

.img-4 {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -3;
    background-image: url(https://i.ibb.co/92BH2c5/3.jpg);
    background-size: 101% 100%;
    background-repeat: no-repeat;
    background-position: 55%;

    animation-name: photo-4;
    animation-duration: 14s;
    animation-delay: 25s;
}

  @keyframes photo-4 {
      0% {
          opacity: 1;
      }

      60% {
          opacity: 1;
      }

      100% {
        opacity: 0;
    }
}

.img-5 {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -4;
    background-image: url(https://i.ibb.co/HNgVS6N/4.jpg);
    background-size: 101% 100%;
    background-repeat: no-repeat;
    background-position: 55%;

    animation-name: photo-5;
    animation-duration: 16s;
    animation-delay: 31s;
}

  @keyframes photo-5 {
      0% {
          opacity: 1;
      }

      60% {
          opacity: 1;
      }

      100% {
        opacity: 0;
    }
}

.img-6 {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -5;
    background-image: url(https://i.ibb.co/Lz7tQHL/6.jpg);
    background-size: 150% 100%;
    background-repeat: no-repeat;
    background-position: 55%;

    animation-name: photo-6;
    animation-duration: 16s;
    animation-delay: 40s;
}

  @keyframes photo-6 {
      0% {
          opacity: 1;
      }

      60% {
          opacity: 1;
      }

      100% {
        opacity: 0;
    }
}

.img-7 {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -6;
    background-image: url(https://i.ibb.co/55HR9n9/7.jpg);
    background-size: 150% 100%;
    background-repeat: no-repeat;
    background-position: 50%;

    animation-name: photo-7;
    animation-duration: 16s;
    animation-delay: 47s;
}

  @keyframes photo-7 {
      0% {
          opacity: 1;
      }

      60% {
          opacity: 1;
      }

      100% {
        opacity: 0;
    }
}

.img-8 {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -7;
    background-image: url(https://i.ibb.co/tCqZzCJ/5.jpg);
    background-size: 101% 100%;
    background-repeat: no-repeat;
    background-position: 55%;

    animation-name: photo-8;
    animation-duration: 13s;
    animation-delay: 55s;
}

  @keyframes photo-8 {
      0% {
          opacity: 1;
      }

      60% {
          opacity: 1;
      }

      100% {
        opacity: 0;
    }
}


@media only screen and (max-width: 1300px) {

    .email:focus {
        width: 24em;
    }
}


@media only screen and (max-width: 1000px) {

    .div-2 {
        width: 40%;
        height: 60%;
    }

    .div-2-ct {
        position: relative;
        left: -10%;
        top: 9%;
    }

    .logo {
        position: relative;
        left: 5%;
        width: 68%;
        margin: .8em 0 1em 0;
    }

    .p1a {
        font-size: 4.13rem;
    }

    .p1b, .p1c {
        font-size: 4.13rem;
    }

    .div-2b {
        text-align: left;
        position: relative;
        left: 25.8%; 
        line-height: 1.8rem;
        width: 60%;
        height: 0;
    }

    .p1d {
        width: 20rem;
    }

    .p1e {
        width: 145%;
    }

    .form-control.error small {
        color: #fc5340;
        display: block;
        visibility: visible;
        font-family: 'Lato', sans-serif;
        position: relative;
        top: -35px;
        left: 17.3px;
    }

    .form-control.success small {
        visibility: hidden;
        display: none;
    }
    
    .email {
        transition: none;
    }

    .email:focus {
        width: 19em;
    }

    button {
        position: relative;
        top: -37.3px;
        left: 212px;
    }

    .div-1b {
        top: 9.7%;
        width: 50%;
        height: 80%;
    }
}

@media only screen and (min-width: 701px) and (max-width: 800px) {

    .div-2 {
        width: 40%;
        height: 60%;
    }

    .div-2-ct {
        position: relative;
        left: 35%;
        top: 4%;
        width: 110%;
    }

    .logo {
        position: relative;
        left: 30%;
        width: 78%;
        margin: .8em 0 0 0;
    }

    .ct2 {
        position: relative;
        top: 38em;
    }

    .p1a {
        font-size: 4.53rem;
    }

    .p1b, .p1c {
        font-size: 4.53rem;
    }

    .p1d {
        width: 20rem;
    }

    .p1e {
        width: 200%;
    }

    .email {
        margin: 5px 0 0 0;
    }

    .div-1b {
        top: 14%;
        right: 13.2%;
        width: 73%;
        height: 80%;
    }

    .img-1,
    .img-2,
    .img-3,
    .img-4,
    .img-5,
    .img-6,
    .img-7,
    .img-8 {
        border-radius: 10px;
    }
}


@media only screen and (min-width: 601px) and (max-width: 700px) {

    .div-2 {
        width: 40%;
        height: 60%;
    }

    .div-2-ct {
        position: relative;
        left: 32%;
        top: 4%;
        width: 100%;
    }

    .logo {
        position: relative;
        left: 40%;
        width: 90%;
        margin: .8em 0 0 0;
    }

    .ct2 {
        position: relative;
        top: 38.5em;
    }

    .p1a {
        font-size: 4.33rem;
    }

    .p1b, .p1c {
        font-size: 4.33rem;
    }

    .p1d {
        width: 20rem;
    }

    .p1e {
        width: 225%;
    }

    .email {
        margin: 5px 0 0 0;
    }

    .div-1b {
        top: 14%;
        right: 13.2%;
        width: 73%;
        height: 80%;
    }

    .img-1,
    .img-2,
    .img-3,
    .img-4,
    .img-5,
    .img-6,
    .img-7,
    .img-8 {
        border-radius: 10px;
    }
}

@media only screen and (min-width: 521px) and (max-width: 600px) {

    .div-2-ct {
        position: relative;
        left: 20%;
        top: 4%;
        width: 100%;
    }

    .logo {
        position: relative;
        left: 40%;
        width: 113%;
        margin: .8em 0 0 0;
    }

    .ct2 {
        position: relative;
        top: 33.8em;
    }

    .div-2a {
        width: 100%;
    }

    .p1a {
        font-size: 4.13rem;
    }

    .p1b, .p1c {
        font-size: 4.13rem;
    }

    .p1d {
        font-size: 2.33rem;
        width: 20rem;
    }

    .p1e {
        width: 270%;
    }

    .email {
        margin: 5px 0 0 0;
    }

    .div-1b {
        top: 14%;
        right: 10%;
        width: 80%;
        height: 70%;
    }

    .img-1, 
    .img-2,
    .img-3,
    .img-4,
    .img-5,
    .img-6,
    .img-7,
    .img-8 {
        border-radius: 10px;
    }
}

@media only screen and (max-width: 520px) {

    .div-2-ct {
        position: relative;
        left: 20%;
        top: 4%;
        width: 100%;
    }


    .logo {
        position: relative;
        left: 40%;
        width: 113%;
        margin: .8em 0 0 0;
    }

    .ct2 {
        position: relative;
        top: 31.8em;
    }

    .div-2a {
        width: 100%;
    }

    .p1a {
        font-size: 4.13rem;
    }

    .p1b, .p1c {
        font-size: 4.13rem;
    }

    .p1d {
        font-size: 2.33rem;
        width: 20rem;
    }

    .p1e {
        width: 270%;
    }

    .email {
        margin: 5px 0 0 0;
    }

    .div-1b {
        top: 14%;
        right: 10%;
        width: 80%;
        height: 65%;
    }

    .img-1, 
    .img-2,
    .img-3,
    .img-4,
    .img-5,
    .img-6,
    .img-7,
    .img-8 {
        border-radius: 10px;
    }
}